<title>
    Index
</title>
<h1 align="center"> Welcome to the world of Poll </h1>
<h2>
    Choose from the list of Questions
</h2>
<style>
    li a{
    color: green;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 20px;
}
</style>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}